$font: "Open-Sans", sans-serif;

$bg: rgb(227, 240, 255);
$bg-footer-header: #212121;
$bg-color-button: #3581d5;
$bg-color-button-hover: #1962b2;

$bg-color-button-white: #ffffff;
$bg-color-button-white-hover: #215c9d;

$height-header: 68px;
$height-logo: 21px;

$bp-xl: 1140px;
$bp-lg: 960px;
$bp-md: 720px;
