doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
  body

    include includes/header.pug

    section.content

        include includes/buynow.pug

        include includes/accept.pug
        
        include includes/faq.pug

    include includes/contacts.pug

    include includes/footer.pug
