.accept
    ul.accept__list
        li.accept__item
            span.accept__logo.accept__logo--mastercard
        li.accept__item
            span.accept__logo.accept__logo--visa
        li.accept__item
            span.accept__logo.accept__logo--paypal
        li.accept__item
            span.accept__logo.accept__logo--discover
        li.accept__item
            span.accept__logo.accept__logo--ae