.buynow
    
    header.buynow__header
        h1.buynow__title 
            | Video Suite for Windows

    .buynow__wrapper

        article.buynow__cart.cart
            .cart__block
                header.cart__header
                    h2.cart__title
                        | Video Suite
                    p.cart_subtitle
                        | Lifetime / 1 PC
                ul.cart__list
                    li.cart__item
                        span.cart__item-text 
                            | Video Editor Plus
                        span.cart__item-text
                            | 1490&nbsp;руб.
                    li.cart__item
                        span.cart__item-text
                            | Video Converter Premium
                        span.cart__item-text
                            | 1290&nbsp;руб.
                    li.cart__item
                        span.cart__item-text
                            | Screen Recorder
                        span.cart__item-text
                            | 990&nbsp;руб.
            .cart__block
                p.cart__price
                    span.cart__price-block.js-cart-price-block
                        span.cart__price-text.cart__price-text--old.js-cart-price-text--old
                            | 3&nbsp;770
                        i.cart__price-text.cart__price-text--old
                            | &nbsp;руб.
                    span.cart__price-text.js-cart__price-text
                        | 1&nbsp;990
                    i.cart__price-text.cart__price-text--low
                        | &nbsp;руб.
                p.cart__best-time &nbsp;
                button.cart__button.cart__button--white.js-cart-button(
                    data-product={
                        'id': 'vs',
                        'name': 'Video Editor Plus',
                        'image': '',
                        'oldPrice': '3770',
                        'price': '1999'
                    },
                    id='vs'
                    data-is-add='false'
                )
                    | Buy Now
        
        article.buynow__cart.cart.cart--best
            .cart__block
                header.cart__header
                    h2.cart__title
                        | Video Suite + Photo Editor
                    p.cart_subtitle
                        | Lifetime / 1 PC
                ul.cart__list
                    li.cart__item
                        span.cart__item-text
                            | Video Editor Plus
                        span.cart__item-text
                            | 1490&nbsp;руб.
                    li.cart__item
                        span.cart__item-text
                            | Video Converter Premium
                        span.cart__item-text
                            | 1290&nbsp;руб.
                    li.cart__item
                        span.cart__item-text
                            | Screen Recorder
                        span.cart__item-text
                            | 990&nbsp;руб.
                    li.cart__item.cart__item--wrap
                        span.cart__item-text.cart__item-text--bold
                            |Photo Editor
                        span.cart__item-text
                            | 1290&nbsp;руб.
                        ul.cart__item-list
                            li.cart__item-list-item
                                span.cart__item-text
                                    | Edit, enhance and retouch images
                            li.cart__item-list-item
                                span.cart__item-text
                                    | Restore old photos
            .cart__block
                p.cart__price
                    span.cart__price-block.js-cart-price-block
                        span.cart__price-text.cart__price-text--old.js-cart-price-text--old
                            | 5&nbsp;060
                        i.cart__price-text.cart__price-text--old
                            | &nbsp;руб.
                    span.cart__price-text.js-cart__price-text
                        | 2&nbsp;490
                    i.cart__price-text.cart__price-text--low 
                        | &nbsp;руб.
                p.cart__best-time.js-cart-best-time
                    span.cart__best-time-text
                        | Offer valid until 
                    span.cart__best-time-text.js-cart-best-time-text 
                button.cart__button.js-cart-button(
                    data-product={
                        'id': 'vs-pe',
                        'name': 'Video Suite + Photo Editor',
                        'image': '',
                        'oldPrice': '5060',
                        'price': '2490'
                    },
                    id='vs-pe'
                    data-is-add='false'
                )
                    | Buy Now



