.contacts
    .contacts__wrapper
        ul.contacts__list
            li.contacts__item
                h3.contacts__item-title.contacts__item-title--psup
                    | 24/7 Payment Support
                p.contacts__item-text
                    | Contact the 2Checkout 24/7 English language support service by&nbsp;phone at&nbsp;+31 88&nbsp;000 0008(international) with any payment-related questions.
            li.contacts__item
                h3.contacts__item-title.contacts__item-title--msup
                    | Lorem Software Support
                p.contacts__item-text
                    | If&nbsp;you have any problems activating or&nbsp;using the programs, visit our Help Center for answers, live support, software manuals, and quick user guides.