.faq
    ul.faq__list
        li.faq__item
            h3.faq__item-title.faq__item-title--money
                | 30 Day Money Back Guarantee
            p.faq__item-text
                | If&nbsp;you experience technical or&nbsp;other problems that cannot be&nbsp;solved, you can get a&nbsp;complete refund of&nbsp;your purchase price within 30 days.
                | Check our Refund Policy to&nbsp;find out if&nbsp;you are eligible for a&nbsp;full refund.
        li.faq__item
            h3.faq__item-title.faq__item-title--pay
                | Totally Secure Payments
            p.faq__item-text
                | Our payments are processed via the 2Checkout payment gateway. 2Checkout provides the highest standards of&nbsp;online security. It&nbsp;guarantees the safety of&nbsp;your payments and personal information.
        li.faq__item
            h3.faq__item-title.faq__item-title--ins
                | What Do&nbsp;I&nbsp;Get?
            p.faq__item-text
                | 15 minutes after purchase, you will receive an&nbsp;email with a&nbsp;download link and activation key to&nbsp;the account used to&nbsp;make the purchase. Use these to&nbsp;download and activate the program.