header.header

  .header__wrapper

    .header__logo

      a.header__logo-link(href='/')
    
        span.header__logo-image

    .header__shop
      button.header__shop-button.js-header-shop-button
        span.header__shop-text.header__shop-text--icon.js-header-shop-text 0
        span.header__shop-text &nbsp;руб.

    include shopcart.pug