section.shopcart.js-shopcart

    .shopcart__wrapper.js-shopcart-wrapper
    
        nav.shopcart__nav
            a.shopcart__nav-link.js-shopcart-nav-link(href="")
                span.shopcart__nav-text Continue Shopping
        
        header.shopcart__header
            h2.shopcart__title Shopping Cart

        .shopcart__list-wrapper
            .shopcart__empty.js-shopcart-empty
                p.shopcart__empty-text
                    | Ваша корзина пуста
            ul.shopcart__list.js-shopcar-list

        .shopcart__total
            .shopcart__total-block
                span.shopcart__total-text Total:
            .shopcart__total-block
                span.shopcart__total-text.js-shopcart-total-text 0
                span.shopcart__total-text &nbsp;руб.

        button.shopcart__button-check.shopcart__button-check--disable.js-shopcart-button-check Check out
        button.shopcart__button-delete-all.js-shopcart-button-delete-all Delete All

    